/* Custom styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("/img/sky1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  transition: 1.5s ease-in-out;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 10;
}

.navbar .logo {
  width: 70px;
  margin: 30px 15px;
  cursor: pointer;
  position: relative;
  animation: float 4s infinite ease-in-out;
}

.navbar .brand {
  display: flex;
  align-items: center;
}

.navbar span {
  font-size: 2.2rem;
  color: #eaeaea;
  font-weight: 600;
}

.navbar .user {
  display: flex;
  align-items: center;
}

.user img {
  width: 60px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #eaeaea;
}

.user i {
  vertical-align: middle;
  padding-left: 10px;
}

button {
  padding: 8px 25px;
  background: transparent;
  outline: none;
  border: 2px solid #eaeaea;
  border-radius: 15px;
  color: #eaeaea;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  background: rgba(86, 86, 86, 0.3);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  align-items: center;
  justify-content: center;
  color: #eaeaea;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.info h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 10px;
}

.info p {
  color: #f0eef1;
  font-size: 1rem;
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  line-height: 2rem;
}

.info input {
  width: 100%;
  padding: 8px 10px;
  outline: none;
  color: #eaeaea;
  font-size: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  background: transparent;
}

.input-icon i {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.input-icon {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: #eaeaea;
  min-width: 50px;
  text-align: center;
}

.icon:hover {
  background-color: #4b0082;
  border-radius: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

::placeholder {
  color: #959595;
}

.social {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 60px;
}

.icons {
  width: 45px;
  height: 45px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
}

.icons a {
  color: #eaeaea;
}

.icons:hover {
  transform: scale(1.5);
}

.icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #4b0082, #800080);
  z-index: -1;
  border-radius: 50%;
  transform: translate(100%, 100%);
  transition: all 0.4s;
}

.icons:hover::before {
  transform: translate(0);
  animation: animate 0.4s linear;
}

.slider {
  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
  bottom: 50px;
}

#prev,
#next {
  width: 20px;
  cursor: pointer;
}

.preview {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.preview img {
  width: 80px;
  border-radius: 15px;
  margin: 0 10px;
  opacity: 0.7;
}

.preview .active {
  display: block;
  border: 3px solid #eaeaea;
  width: 100px;
  opacity: 1;
}

/* =============== KEYFRAMES =============== */

@keyframes animate {
  0%,
  100% {
    width: 100%;
    height: 100%;
  }

  50% {
    width: 50%;
    height: 50%;
  }
}

@keyframes float {
  0% {
    top: 0px;
  }

  25% {
    top: 10px;
  }

  50% {
    top: 0px;
  }

  75% {
    top: 10px;
  }

  100% {
    top: 0px;
  }
}

/* =============== END KEYFRAMES =============== */

/* =============== MEDIA QUERYS MOBILE =============== */
@media (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 30px 15px;
    margin: 0 15px;
  }

  .navbar .logo {
    margin: 0 20px 0 0;
  }

  .navbar span {
    display: none;
  }

  .user img {
    margin-left: 20px;
  }

  .container {
    width: 100%;
    background: none;
    backdrop-filter: none;
  }

  .info {
    padding: 0 30px;
  }

  .info input {
    width: 100%;
  }

  .input-icon i {
    right: 25px;
  }

  .social {
    display: none;
  }

  .info h1 {
    font-size: 1.8rem;
  }
}
