/* Custom styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("/img/sky1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 10;
}

.navbar .logo {
  width: 60px;
  margin: 30px 15px 30px 30px;
  cursor: pointer;
}

.navbar .brand {
  display: flex;
  align-items: center;
}

.navbar span {
  font-size: 1.9rem;
  color: #eaeaea;
  font-weight: 500;
}

.navbar .user {
  display: flex;
  align-items: center;
}

.user img {
  width: 60px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #eaeaea;
}

button {
  padding: 8px 25px;
  background: transparent;
  outline: none;
  border: 2px solid #eaeaea;
  border-radius: 15px;
  color: #eaeaea;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.container {
  width: 50%;
  height: 100vh;
  background: rgba(86, 86, 86, 0.3);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  width: 550px;
  color: #eaeaea;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.info h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 10px;
}

.info p {
  color: #f0eef1;
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.5rem;
}

.info input {
  width: 82%;
  padding: 8px 10px;
  outline: none;
  color: #eaeaea;
  font-size: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  background: transparent;
}

::placeholder {
  color: #959595;
}

.slider {
  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
  bottom: 50px;
}

#prev,
#next {
  width: 20px;
  cursor: pointer;
}

.preview {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.preview img {
  width: 80px;
  border-radius: 15px;
  margin: 0 10px;
  opacity: 0.7;
}

.preview .active {
  display: block;
  border: 3px solid #eaeaea;
  width: 100px;
  opacity: 1;
}
